
body, html {
    margin: 0;
    padding: 0;
}

.cnt {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    flex-grow: 1;
}

main {
    align-self: center;
}

.bottom {
    flex-grow: 1; 
}